<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Cadet Academy is ready to fill your Mission by providing you support">
    <meta property="og:title" content="Cadet Academy">
    <meta property="og:description" content="Cadet Academy is ready to fill your Mission by providing you support">
    <meta property="og:image" content="/img/preview-website.png"> <!-- URL to your specific preview image -->
    <meta property="og:url" content="https://www.missionschool.xyz"> <!-- URL of your website -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Cadet Academy">
    <title>Cadet Academy</title>
    <link href="https://fonts.cdnfonts.com/css/noto-serif-bengali" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    
     <!-- Libraries Stylesheet -->
     <link href="/lib/animate/animate.min.css" rel="stylesheet">
     <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
     <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
 
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="/img/favicon_favicon.png">

    <!-- fontawesome link kora hoies kintu janina minified kina -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>

    
    <!-- Start of Tawk.to Script -->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  
  // Customize Tawk.to widget position
  Tawk_API.customStyle = {
    visibility: {
      desktop: {
        xOffset: 20, // 20 pixels from the right (negative value to move right)
        yOffset: 80, // 70 pixels from the bottom (negative value to move up)
        position: 'br' // Bottom right position
      },
      mobile: {
        xOffset: 20, // 20 pixels from the right (negative value to move right)
        yOffset: 80, // 70 pixels from the bottom (negative value to move up)
        position: 'br' // Bottom right position
      },
      bubble: {
        xOffset: 0,
        yOffset: 0,
        rotate: 0
      }
    }
  };

  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6438d6f24247f20fefeb8bae/1gtv0f90p';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<style>@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}




.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


</style>

<style>
/* Customizing chat font */
#tawkchat-widget .tawk-chat-widget .tawk-chat__body .tawk-chat__message {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
    font-size: 14px; /* Change the font size as needed */
    font-weight: normal; /* Change the font weight if desired */
    color: #333; /* Change the font color */
}

/* Customizing agent's name font */
#tawkchat-widget .tawk-chat-widget .tawk-chat__body .tawk-chat__message .tawk-chat__name {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
    font-size: 14px; /* Change the font size as needed */
    font-weight: bold; /* Change the font weight if desired */
    color: #666; /* Change the font color */
}

/* Customizing visitor's name font */
#tawkchat-widget .tawk-chat-widget .tawk-chat__body .tawk-chat__message .tawk-chat__user-name {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
    font-size: 14px; /* Change the font size as needed */
    font-weight: bold; /* Change the font weight if desired */
    color: #666; /* Change the font color */
}


html,
body {
  
  height: auto;
  font-family: sans-serif!important;
  background-color: #ffffff;
}
a, a:hover, a:active, a:link, a:visited {
  text-decoration: none !important;
  color: black;
 
} 

.custom-btn{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff!important;
    padding: 10px 35px;
    margin: 0px;
    background-color: #000000;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    transition: .5s;
}

.con {
  border: 1px solid rgb(16 15 22);
  position: relative;
  bottom: 1px;
  height: auto;
}
.tab-con1 {
  height: auto;
  background: #000919 !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
 border-radius: 10px;
  padding: 7px;
  width: 95%;
  margin: 0px auto;
}
.tab i{
color: rgb(36, 36, 36) !important;
}
.tab span{
  color: rgb(84, 84, 84)!important;
}
@media screen and (min-width: 1200px) {

  nav.bottom-nav {
    width: 40%!important;
    margin: 0 auto;
    position: fixed;
    bottom: 10px!important;
    border-radius: 10px;
    left: 30%;
    
  }

}
/* .hero-header {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.95)), url(/img/front_banner.jpg);
  background-position: center center!important;  
  background-repeat: no-repeat!important;
  background-size: cover!important;
} */
.hero-header img {
  animation: imgRotate 50s linear infinite;
}
.display-3{
  font-size: calc(1.225rem + 1.3vw);
}
@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}
.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}
  div.accordion { 
    width: 100%;
    background: #ffffff !important;
    outline: none;text-align: left;
    padding: 15px 10px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s linear;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
  }
.accordion-content {
max-height: 0;
overflow: hidden;
position:relative;
 top:-5px;
transition: max-height 0.3s ease-in-out;
background-color: #ffffff !important;
display: flex;
flex-direction: column;
 border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.accordion-content a{
  border: 1px solid #c0c0c03d;
  border-radius: 8px;
  width: 100%;
  padding: 7px 10px;
  width:95%;
  margin: 0px auto 5px;
  font-size: 13px;
  color: #474747;
  
}


.accordion-content a:hover{
  background: #ebebeb  !important;
  cursor: pointer;
}
.accordion-content a:last-child{
margin-bottom:20px;
}
.accordion-content a:first-child{
margin-top:20px;
}
.tabcontent{
margin: 8px;

}
nav.bottom-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid rgb(10, 10, 10 / 20%);
  border-top-left-radius : 12px;
border-top-right-radius : 12px;
background-color:rgba(255, 255, 255, 0.8) !important;
  z-index: 34;
  backdrop-filter: blur(8px); /* add a blur effect */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;

}
.nav-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 5px 10px 5px;
  width: 100%;
  color: white!important;

}
.nav-Item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 10px 8px 10px;
  width: 100%;

}
.nav-Item i{
  font-size: 20px;
color: rgb(0, 0, 0);
margin-bottom:5px;
}
.nav-Item span{
  font-size: 12px;
color: rgb(0, 0, 0);
}
/* ripple effect */
.ripple {
background-position: center;
transition: background 0.8s;
}

.ripple:hover{
background-color: #e4e4e4;
background-image: radial-gradient(circle,transparent 1%,#e4e4e4 1%);
background-position: center;
outline: none;
border-radius: 50px;
background-size: 15000%;
}

.ripple:active{
transition: background 0s;
background-color: #949494;    
background-size: 100%;
}


  .accordion img{
  width: 22px;
  margin-right: 10px;
  filter: grayscale(70%);
}
/* headTile section */
.head-title-caption {
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  font-size: 18px;
  color: rgb(27, 151, 91);
  font-weight: bold;
}
.head-title {
  margin: 0 auto;
}
span.mid-align {
text-align: center !important;
color: rgb(255 255 255);
font-weight: bolder;
font-size: 20px;
font-family: "SolaimanLipi", Arial, sans-serif!important;
 
}

.day_body {
padding: 5px 10px;
text-align: center;
border-radius: 5px;
background:#2d2d2d;
 
}


@media (min-width: 600px) {
    nav.bottom-nav {
    width: 40%!important;
    margin: 0 auto;
    position: fixed;
    bottom: 10px!important;
    border-radius: 10px;
    left: 30%;
    
  }
 
}
/********** Template CSS **********/
:root {
    --primary: #050425;
    --light: #F1F8FF;
    --dark: #0F172B;
}



/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #ededed!important;
    border-color: 10px !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #383839 !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: #292929 !important;
    border-color: var(--light);
}

.course-list {
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0px auto;
  width: 90%;
  
}


.box {
  flex-grow: 1;
  margin-top: 20px!important;
  padding: 10px!important;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #141414;
  border-radius: 10px;
}

.img-round{
  border-radius: 50%;
  width: 200px;
}
.box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 width:100%;
}

.neon-text {
    font-size: 48px;
    padding: 20px;
    color: #ffffff;
text-shadow: 2px 2px 4px #50ff17;
  }
.course-name {
  text-align: left!important;
  margin: 10px 0;
 font-size:20px;
 color:white!important;

}

.course-left-right{
 display:flex;
 justify-content: space-around;
 align-items:center;
 font-size:14px;
 width:100%;
 color:white!important;

}
.left span:first-child { 
 margin-right:3px;
 background-color: #4b455369;
 padding: 5px 10px;
 border-radius:5px;

}
.left span:nth-child(2) { 
 margin-right:10px;
 background-color: #473f328c;
  padding: 5px 10px;
 border-radius:5px;

}

.right {
  margin-left: auto;
  padding: 5px 10px;
 border-radius:5px;
 background-color: #1b2a2f;

 
 
}


.start-now{
  margin-left: auto;
 background-color: #2e003e;
 color: #ffffffd1; 
  padding: 5px 10px;
 border-radius:5px;
}


@media (min-width: 700px) {
  .box {
  width: calc(32.33%)!important; 
 
}  

nav.bottom-nav {
    width: 40%!important;
    margin: 0 auto;
    position: fixed;
    bottom: 10px!important;
    border-radius: 10px;
    left: 30%;
    
  }
 
  }


/* Navbar Styles */
header {
    width: 90%;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1444!important;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0 auto;
}


div.nav-wrap {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(10px) brightness(0.8) contrast(1.2) grayscale(0.5) hue-rotate(15deg) invert(0.1) opacity(0.9) saturate(1.5) sepia(0.3) !important;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    margin: 0px auto;
    position: relative;
    width: 100%;
}

.logo img {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: rgb(101 101 101);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px;
}

.nav-links a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}
.loader {
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l1 1s infinite;
}
@keyframes l1 {
    100% {box-shadow: 0 0 0 10px #0000}
}

/* Mobile Nav Styles */
.mobile-nav {
    display: none;
    flex-direction: column;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 1;
}
.mobile-nav.show {
    display: flex;
}
 

.mobile-nav a {
    padding: 10px;
    margin: 2px 0px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.mobile-nav a:hover {
    background-color: #f8f8f8;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .mobile-nav.show {
        display: flex;
    }
}

@media (max-width: 480px) {
    .mobile-nav a {
        padding: 10px !important;
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
    }
}

.join-donner {
    background-color: rgb(0, 0, 0);
    border-radius: 5px !important;
    color: white !important;
}

.join-donner:hover {
    background-color: #212121 !important;
    color: rgb(255, 255, 255) !important;
}


</style>        


       <header>
        <div class="nav-wrap">
            <nav class="navbar">
                <div class="logo">
                    <a href="/">
                        <img src="/img/cadetacademy_logo.png" alt="Logo">
                    </a>                </div>
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="https://www.facebook.com/missionschoolbd">About</a>
                    <a href="https://www.facebook.com/ashraful.ashik19">Contact</a>
                    
                    <% if (!req.user) { %>
                    <a href="/auth/login" class="join-donner loader">Login</a>
                    <% } else { %>
                    <a href="/auth/logout" class="join-donner">Logout</a>
                    <% } %>                    

                      
                </div>
                <div class="hamburger-menu">
                    <img width="30px" src="https://static.vecteezy.com/system/resources/previews/019/858/597/non_2x/list-flat-color-outline-icon-free-png.png" alt="">
                </div>
            </nav>
            <div class="mobile-nav">
          <div style="padding: 10px;">
            <a href="/">Home</a>
            <a href="https://www.facebook.com/missionschoolbd">About</a>
            <a href="https://www.facebook.com/ashraful.ashik19">Contact</a>
     
            <% if (!req.user) { %>
                    <a href="/auth/login"  class="join-donner loader">Login</a>
                    <% } else { %>
                    <a href="/auth/logout" class="join-donner">Logout</a>
                    <% } %> 
          </div>
            </div>
        </div>
</header>



<script>
  </script>

          <div class="container-xxl py-5 hero-header" style="padding-bottom:0px!important">
              <div class="container my-5 py-5" style="padding-bottom: 0px!important;">
                  <div class="row align-items-center g-5">
                      <div class="col-lg-12 text-center ">
                        <h4 class="display-6 animated slideInLeft"><span hidden>.</span>Always remember,<br><i class="bi bi-code-slash me-2"></i><span style="color: #424242;" class="typewriter white-text" ></span></h4>
 <br>                           
                            <p class="animated slideInLeft mb-4 pb-2 white-text" style="font-family: Noto Serif Bengali;">মনে করে দেখো, শেষ কবে প্রতিজ্ঞা করেছিলে আজ থেকে শুরু করবে! অথচ এখনো শুরুই করতে পারোনি। তোমার আজকের ছোট ছোট পদক্ষেপ গুলোই সাফল্যের কারন হবে। আজ থেকে ক্যাডেট একাডেমির সাথে নতুন করে লেগে পড়ো স্বপ্ন পূরণে। </p>
                            <a href="/course-details/1" class="custom-btn animated slideInLeft mt-5 loader">Join Now</a>
                      </div>
   
                     
              
              </div>              
          </div>
      </div>
      <!-- Navbar & Hero End -->


      



      <style>
        .typewriter {
          display: inline-block;
          border-right: 2px solid white; 
          padding-right: 5px; 
        }
        
      </style>
    
    
      <script>
        document.addEventListener('DOMContentLoaded', function(event){
          var phrases = ["Welcomee Pabna Cadet College candidateddddddddds", "Success is a series of actions", "Don't wait for perfect time", "Start now, perfect it later", "Best of Luck!"];
          var typewriterText = document.querySelector('.typewriter');
    
          var currentPhraseIndex = 0;
          var currentCharIndex = 0;
          var erase = false;
    
          function typeWriter() {
            if (!erase) {
              typewriterText.textContent += phrases[currentPhraseIndex].charAt(currentCharIndex);
              currentCharIndex++;
              if (currentCharIndex === phrases[currentPhraseIndex].length) {
                erase = true;
                setTimeout(typeWriter, 1000);
              } else {
                setTimeout(typeWriter, 100);
              }
            } else {
              // Clear the content of the previous phrase
              typewriterText.textContent = typewriterText.textContent.slice(0, -1);
              currentCharIndex--;
              if (currentCharIndex === 0) {
                erase = false;
                currentPhraseIndex = (currentPhraseIndex + 1) % phrases.length;
              }
              setTimeout(typeWriter, 50);
            }
          }
    
          typeWriter();
        });
      </script>
    




      <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container" style="background-color: rgb(249, 249, 249); padding: 20px; border-radius: 10px;">
          <div class="text-center">
                <h2 class="adjust-text">ISSB GUIDE </h2>
            </div>

        <div class="container">
            <div class="row g-5" style="--bs-gutter-y: 0rem;">
                <div class="col-lg-4" style="padding: 0px!important;">
                  <div class="tabcontent day_body">
		<span class="mid-align"></i> First Day</span>
	</div>
  <div class="tabcontent">
    <div class="accordion"> 
        <img src="/img/icon_before_issb.png" alt="">
        <span>   Before ISSB </span>
    </div>
    <div class="accordion-content">
       <a href="/issb/lessonvideo?type=Before ISSB"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
       <a href="/issb/qna?type=Before ISSB"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>  
      </div>
</div>   
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_iq.png" alt="">
            <span>   Intelligence Test </span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=Intelligence Test"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
		   <a href="/issb/iqlist?title=Verbal Test"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Verbal Test</a>
           <a href="/issb/iqlist?title=Non-Verbal Test"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Non Verbal Test</a>
           <a href="/issb/qna?type=IQ"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>  
          </div>
    </div>   
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_ppdt.png" alt="">
            <span>   PPDT </span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=PPDT"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/practice?type=Picture Story&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Practice PPDT</a>
           <a href="/issb/qna?type=PPDT"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        </div>
    </div>  

    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_essay.png" alt="">
            <span>Essay Writing </span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Essay Writing"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/practice?type=Essay Writing&text_type=Bangla"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Bangla</a>
           <a href="/issb/practice?type=Essay Writing&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;English</a>
           <a href="/issb/qna?type=Essay Writing"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        </div>
    </div>  
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_inco_story.png" alt="">
            <span> Incomplete Story </span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Incomplete Story"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
			<a href="/issb/practice?type=Incomplete Story&text_type=Bangla"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Bangla</a>
			<a href="/issb/practice?type=Incomplete Story&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;English</a>
      <a href="/issb/qna?type=PPDT&text_type=English"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>   
    </div>
    </div>  

    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_picture_story.png" alt="">
            <span> Picture Story </span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Picture Story"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
			<a href="/issb/practice?type=Picture Story&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Bangla</a>
			<a href="/issb/practice?type=Picture Story&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;English</a>
      <a href="/issb/qna?type=PPDT&text_type=English"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>   
        
        </div>
    </div>  
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_inco_sen.png" alt="">
            <span> Incomplete Sentences </span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Incomplete Sentences"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
			<a href="/issb/practice_list?type=Incomplete Sentences&text_type=Bangla"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Bangla</a>
			<a href="/issb/practice_list?type=Incomplete Sentences&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;English</a>
      <a href="/issb/qna?type=Incomplete Sentences"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
		 </div>
    </div>   
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_wat.png" alt="">
            <span>   Word Association Test (WAT) </span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=WAT"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/practice_list?type=WAT&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;WAT Test</a>
           <a href="/issb/qna?type=WAT"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
		</div>
    </div>  
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_self_criticism.png" alt="">
            <span>Self Criticism</span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Self Criticism"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/qna?type=Self Criticism"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div>  
	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_self_assess.png" alt="">
            <span>Self Assessment</span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Self Assessment"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/qna?type=Self Assessment"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        </div>
    </div>            

                </div>
                <div class="col-lg-4" style="padding: 0px!important;">
          
                  <div class="tabcontent day_body">
		<span class="mid-align"></i> Second Day</span>
	</div>
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_gd.png" alt="">
            <span>Group Discussion</span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Group Discussion"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
			<a href="/issb/practice?type=Group Discussion&text_type=Bangla"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Bangla</a>
			<a href="/issb/practice?type=Group Discussion&text_type=English"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;English</a>
      <a href="/issb/qna?type=Group Discussion"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>    
    </div>
    </div>   
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_pgt.png" alt="">
            <span>Progressive Group Task (PGT)</span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=PGT"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
      <a href="/issb/qna?type=PGT"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div>  
	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_hgt.png" alt="">
            <span>Half Group Task (HGT)</span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=HGT"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
      <a href="/issb/qna?type=PGT"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div>  

    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_extempore.png" alt="">
            <span>Extempore Speech</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=Extempore Speech"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/practice?type=Extempore Speech"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp; Practice Extempore Speech</a>
           
      <a href="/issb/qna?type=Extempore Speech"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div>  

    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_pat.png" alt="">
            <span>Physical Ability Test (PAT)</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=PAT"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           
      <a href="/issb/qna?type=PAT"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div>  
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_inco_sen.png" alt="">
            <span> Bio Data</span>
        </div>
        <div class="accordion-content">
			<a href="/issb/lessonvideo?type=Biodata"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
		  <a href="/issb/qna?type=Biodata"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
		 </div>
    </div>  

	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_dp.png" alt="">
            <span>DP Viva</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=DP Viva"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           
      <a href="/issb/qna?type=DP Viva"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div>  

                </div>
                
                <div class="col-lg-4" style="padding: 0px!important;">
                  <div class="tabcontent day_body">
		<span class="mid-align"></i> Third Day</span>
	</div>

	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_planning.png" alt="">
            <span>Planning Exercise</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=Planning Exercise"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           <a href="/issb/practice?type=Planning Exercise"><i class="fa-solid fa-indent"></i>&nbsp;&nbsp;Planning Exercise</a>
           
      <a href="/issb/qna?type=Planning Exercise"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>      
        </div>
    </div>  
	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_gto.png" alt="">
            <span>GTO Viva</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=GTO Viva"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           
      <a href="/issb/qna?type=GTO Viva"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
   
        </div>
    </div>  

	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_ct.png" alt="">
            <span>Command Task (CT)</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=Command Task"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           
      <a href="/issb/qna?type=Command Task"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div> 
	<div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_mutual.png" alt="">
            <span>Mutual Assessment</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=Mutual Assessment"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
      <a href="/issb/qna?type=Mutual Assessment"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div> 	
    <div class="tabcontent">
        <div class="accordion"> 
            <img src="/img/icon_medical.png" alt="">
            <span>Medical Test</span>
        </div>
        <div class="accordion-content">
           <a href="/issb/lessonvideo?type=Medical"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
           
      <a href="/issb/qna?type=Medical"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
        
        </div>
    </div> 	
    <div class="tabcontent">
      <div class="accordion"> 
          <img src="/img/icon_end_issb.png" alt="">
          <span>On Fourth and Final day</span>
      </div>
      <div class="accordion-content">
         <a href="/issb/lessonvideo?type=On Fourth Day"><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;Lesson Video</a>
         
    <a href="/issb/qna?type=ISSB End"><i class="fa-solid fa-question"></i>&nbsp;&nbsp; Most Asked Questions</a>
      
      </div>
  </div>  
          

        </div>
              
            </div>
        </div>
    </div>
    </div>



    <!-- About End -->








    <style>
      .mainslider {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.image-container-svg {
  position: relative;
}

.slideimg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.video-container-svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container-svg iframe {
  border-radius: 10px;
}

#play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1) scaleY(1);
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.animate {
  animation: pulse 3.5s linear infinite;
}


@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scaleX(1) scaleY(1); /* Set initial scale to 1 */
    box-shadow: 0 0 0px 0 rgb(195 193 191), 0 0 0 0 rgba(15, 67, 146, .7);
  }
  40% {
    transform: translate(-50%, -50%) scaleX(1.1) scaleY(1.1); /* Zoom in effect */
    box-shadow: 0 0 0px 10px rgba(15, 67, 146, 0), 0 0 0 0 rgba(15, 67, 146, .7);
  }
  80% {
    transform: translate(-50%, -50%) scaleX(0.9) scaleY(0.9); /* Zoom out effect */
    box-shadow: 0 0 0px 30px rgba(15, 67, 146, 0), 0 0 0 0 rgba(15, 67, 146, .0);
  }
  100% {
    transform: translate(-50%, -50%) scaleX(1) scaleY(1); /* Return to original scale */
    box-shadow: 0 0 0px 0 rgba(15, 67, 146, 0), 0 0 0 0 rgba(15, 67, 146, .0);
  }
}


#videosvg {
    height: calc((100vw) * 542 / 1038);
  }
</style>


<!-- About Start -->
    <div class="container-xxl" style="background: white;">
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5 adjust-text">Why should you choose us</h1>
            </div>

        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <p class="mb-4" style="font-family: Noto Serif Bengali;">তথ্য অনেক গুরুত্বপূর্ন একটি জিনিস। যার হাতে এটা থাকে সে কখনো নিজেকে ভুল ভাবে উপস্থাপন করতে পারে না। আশেপাশে সবার মতামত নিয়ে যারা নিজেদের মিস গাইড করো তাদের জন্য এই তথ্য সম্ভার। আমাদের ৩ বছরের চেস্টায় তোমাদের জন্য এই উপহার।</p>
                    <p class="mb-4" style="font-family: Noto Serif Bengali;">আইএসএসবির প্রিপারেশন হবে এখন আরো সহজ। নিজের মনের অজানা উত্তর নিজে থেকেই প্রস্তুত করার দক্ষতা অর্জনের মাধ্যমে। মিশন একাডেমি রয়েছে তোমার পাশে।</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5  mb-0" style="color: rgb(97, 97, 97);" data-toggle="counter-up">200</h1><h1> + </h1>
                                <div class="ps-4">
                                    <p class="mb-0">Success</p>
                                    <h6 class="text-uppercase mb-0">Candidates</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5  mb-0" style="color: rgb(97, 97, 97);" data-toggle="counter-up">15</h1><h1>+</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Expert</p>
                                    <h6 class="text-uppercase mb-0">Mentors</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn custom-btn" href="/course-details/1" style="text-transform: none;">Join Now</a>
                </div>
                <div class="col-lg-6" style="padding: 0px!important;">
                  <div class="mainslider">
        <div class="video-container-svg">
          <iframe style="margin-top: 0px; width: 100%;" width="560" height="294" src="https://www.youtube.com/embed/8Um8CegoEik" frameborder="0" allowfullscreen="" sandbox="allow-popups allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="image-container-svg">
          <img class="slideimg" src="https://testmoz.com/ugc/2023-04-12/d6404dbe-5dfd-4ce9-8770-a56a3b51a0f8-image.png">
          <svg id="play-btn" width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32.5" r="32.5" fill="white" fill-opacity="0.5" />
            <ellipse cx="32.4991" cy="32.5011" rx="20.546" ry="20.546" fill="white" />
            <path d="M41.0035 32.128C41.2901 32.2935 41.2901 32.7072 41.0035 32.8727L28.5673 40.0527C28.2807 40.2182 27.9223 40.0114 27.9223 39.6803L27.9223 25.3203C27.9223 24.9893 28.2807 24.7824 28.5673 24.9479L41.0035 32.128Z" fill="#EC1F27" />
          </svg>
        </div>
      </div>

                </div>
              
            </div>
        </div>
    </div>
    </div>
    <!-- About End -->






        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="container">
              <div class="text-center">
                  <h1 class="mb-5">Our Candidates</h1>
              </div>
              <div class="owl-carousel testimonial-carousel">
                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x  mb-3"></i>
                      <p>আমার কাছে খুব ভালো লেগেছে। প্রাকটিস করে নিজেকে যাচাই করে নিতে পারছি এবং সব কিছু সুন্দর করে সাজিয়ে দেয়া আছে। </p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/team-5.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h6 class="mb-1">Zia-Ul-Islam</h6>
                              <small>BUP</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x mb-3"></i>
                      <p >মেন্টরদের সাথে নিজের সমস্যা গুলা শেয়ার করে তা কাটিয়ে উঠার সাহস পাচ্ছি। অনেক কিছু নতুন ভাবে ভাবতে এবং শিখতে শুরু করেছি। </p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/team-1.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h6 class="mb-1">Kazi Nayeem</h6>
                              <small>Adamjee(ACC)</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x mb-3"></i>
                      <p>ঢাকার বাইরে থাকায় সঠিক গাইডলাইন কোনোভাবেই পাচ্ছিলাম না এই কোর্সটিতে সাজানো কনটেন্ট গুলা আমাকে প্রস্তুতি নিতে অনেক সহযোগিতা করছে। </p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/team-4.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h6 class="mb-1">Mozahidul Islam</h6>
                              <small>DRMC</small>
                          </div>
                      </div>
                  </div>

                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x  mb-3"></i>
                      <p>অনেক বেশি ইউজার ফ্রেন্ডলি মনে হইছে আমার কাছে। আমি এখানে নিজেকে এক্সাম দিয়ে তার সমাধান দেখে নিজের অবস্থান জানতে পারছি।</p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/team-3.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h6 class="mb-1">Saklain</h6>
                              <small>BUP</small>
                          </div>
                      </div>
                  </div>  
              </div>
          </div>
          <br><br>
      </div>
      <!-- Testimonial End -->



<br><br>

 

    </div>

 <!-- bottom nagivatoin section  -->

 <%- include('../partials/bottom-nav.ejs') %>

<br>


<section id="footer" class="footbg footer-section bg-purple">
	<div class="container">
		<div class="row">
			<div class="text-left col-lg-12 col-xs-12">
                <a href="/" class="botlogo">
                    <h3 class="mb-4 text-white">      
                        <img src="/img/cadetacademy_logo.png" alt="Mission" height="50px">
                    </h3>
                </a>
            </div>
			<div class="col-lg-3 col-xs-3 foocola2">
				<h5>Offices</h5>
				<div class="foo-address">
          <ul>
            <li><a href="defence-exam-preparation.php">Bangladesh</a></li>
            <li><a href="aptitude-test-preparation.php">Mirpur 12,Dhaka</a></li>
            <li><a href="interview-preparation.php">01772512057</a></li>
            <li><a href="physical-fitness-preparation.php">Join as mentor</a></li>
          </ul>
			</div>
    </div>
			<div class="col-lg-3 col-xs-3 foocola2">
				<h5>Courses</h5>
				<ul>
					<li><a href="defence-exam-preparation.php">Defence Exam Preparation</a></li>
					<li><a href="aptitude-test-preparation.php">Aptitude Test Preparation</a></li>
					<li><a href="interview-preparation.php">Interview Preparation</a></li>
					<li><a href="physical-fitness-preparation.php">Physical Fitness Preparation</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-xs-3 foocola2">
				<h5>Resources</h5>
				<ul>
					<li><a href="study-materials.php">Study Materials</a></li>
					<li><a href="practice-tests.php">Practice Tests</a></li>
					<li><a href="previous-year-papers.php">Previous Year Papers</a></li>
					<li><a href="expert-guidance.php">Expert Guidance</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-xs-3 foocola2">
				<h5>Company</h5>
				<ul>
					<li><a href="">About</a></li>
          <li><a href="/terms&conditions">Terms & Conditions</a></li>
          <li><a href="/privacy&policy">Privacy Policy</a></li>
          <li><a href="/terms&conditions">Refund Policy</a></li>
          <li><a href="https://writeup.zohorecruit.in/jobs/Careers" target="_blank">Careers</a></li>
				</ul>
			</div>
			
		</div>
	</div>

	<div class="container">
		<hr style="color:#000000;">
		<div class="row">
      <div class="col-12">
        <span class="text-center copys text-white">
            <a href="https://twitter.com/writeup" target="_blank" style="margin-right:15px;"><i class="fab fa-twitter s-icon"></i></a>
            <a href="https://www.facebook.com/writeup/" target="_blank" style="margin-right:15px;"><i class="fab fa-facebook-f s-icon"></i></a>
            <a href="https://www.instagram.com/writeup/?igshid=105ipuramgi4m&hl=en" target="_blank" style="margin-right:15px;"><i class="fab fa-instagram s-icon"></i></a>
            <a href="https://www.linkedin.com/company/writeup/mycompany/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin-in s-icon"></i></a>
        </span>
      </div>
      <div class="col-12">
				<span class="text-left copys">&copy;2024 all rights reserved by Cadet Academy</span>
				<a href="https://www.10dumbs.com" title="Award winning website design & development company in Bangladesh" style="display:none;">Website Developed by [Your Name]</a>
			</div>
          		  
		</div>
	</div>
  <br><br><br>

	</div>
</section>


<style>


@media only screen and (max-width: 1000px){
.foocola2 {
    width: 25% !important;
}
}
@media only screen and (max-width: 700px){
.foocola2 {
    width: 50% !important;
}

.neon-text{
    font-size: 30px;
    color: #124e28;   
    text-shadow: none!important;
}
.adjust-text{
    font-size: 35px;
}



}



.botlogo {
    margin-bottom: 30px!important;
    text-align: left!important;
}
/*Footer*/
	#footer{
		padding: 20px;
		text-align: center;
    	color: #333;
	}

    .footbg {
    background-color: #f5f5f5 !important;
    padding-top: 20px !important;
}
	#footer h5{
		padding: 0;
		font-family: 'Lato', sans-serif;
		text-align:left;
		color: #222222;
		font-weight: bold;
		font-size:24px;

	}
	#footer h6{
		padding: 0;
		font-family: 'Lato', sans-serif;
		text-align:left;
		color: #222222;
		font-weight: bold;
		font-size:14px;
		margin-bottom: 6px;
		margin-top: 20px !important;
	}
	.jwjoin
	{
	background: #FBBA18;
    color: #42175b !important;
    border-radius: 12px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    font-weight: 900 !important;
    padding-bottom: 3px;
	line-height:35px;
	}
	#footer p
	{
	text-align: left;
    color: #222222;
    line-height: 20px;
	}
	.fload
	{
		font-size: 14px;
		font-weight: 500;
	}
	#footer ul{
		    padding: 0px;
    text-align: left;
    list-style: none;
			color: #222222;
			line-height:26px;
	}
	#footer ul li a{
	color: #222222;
    font-size: 14px;
    font-weight: 300;
	}
	.foott
	{
	font-size: 10px;
    text-align: left;
    font-weight: 600;
	}
	#footer .underline1{
		margin: 20px auto;
	}
	.mfoot30
	{
		margin-top: 30px !important;
	}

</style>


<script>
  


var accordions = document.getElementsByClassName("accordion");

for (var i = 0; i < accordions.length; i++) {
  accordions[i].onclick = function() {
    this.classList.toggle('is-open');

    var content = this.nextElementSibling;
    if (content.style.maxHeight) {
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
    content.style.transition = "max-height 0.2s ease-out";
  }
}


// Function to check if an element is in viewport
function isInViewport(element) {
  const rect = element.getBoundingClientRect();
  return (
    rect.top <= window.innerHeight &&
    rect.bottom >= 0 &&
    rect.left <= window.innerWidth &&
    rect.right >= 0
  );
}

// Function to handle scroll event
function handleScroll() {
  const elements = document.querySelectorAll('.fade-in-up');
  elements.forEach(function(element) {
    if (isInViewport(element) && !element.classList.contains('show')) {
      element.classList.add('show');
    }
  });
}

// Add scroll event listener
window.addEventListener('scroll', handleScroll);

// Trigger the initial check when the page loads
document.addEventListener('DOMContentLoaded', handleScroll);
    </script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function() {
    $('.hamburger-menu').click(function() {
        $('.mobile-nav').slideToggle(300); // 300ms for the slide animation
    });
});

</script>